# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*



# Build output
dist/
build/
dist-ssr/
out/

# Test coverage
coverage/

# Cypress
cypress/videos/
cypress/screenshots/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# Optional: Ignore media/assets (если хранишь на внешнем сервисе)
*.wav
*.mp3
*.ogg
*.zip
*.7z
*.rar
*.tar.gz

# Ignore production assets (если собираешь их динамически)
*.map

# Ignore LFS pointer files (если используешь git-lfs)
*.lfs

# Игнорировать node_modules везде
**/node_modules/

